:root {
  --headerBackgroundColor: purple;
  --headerTextColor: white;
  --colorFooter: orange;
}

body {
  margin: 0;
}

.orange { background-color: #f25022; }
.green  { background-color: #7fba00; }
.blue   { background-color: #00a4ef; }
.yellow { background-color: #ffb900; }
